<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=AIRPLANE_MODE</string>
		<key>CName</key>
		<string>飞行模式</string>
		<key>EName</key>
		<string>Airplane Mode On</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=WIFI</string>
		<key>CName</key>
		<string>无线局域网，即WIFI</string>
		<key>EName</key>
		<string>Wi-Fi </string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=INTERNET_TETHERING</string>
		<key>CName</key>
		<string>个人热点</string>
		<key>EName</key>
		<string>NTERNET_TETHERING</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=NOTIFICATIONS_ID</string>
		<key>CName</key>
		<string>通知</string>
		<key>EName</key>
		<string>Notification</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=ControlCenter</string>
		<key>CName</key>
		<string>控制中心</string>
		<key>EName</key>
		<string>ControlCenter</string>
	</dict>
	<dict>
		<key>Other</key>
		<string>wait</string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Brightness</string>
		<key>CName</key>
		<string>显示与亮度</string>
		<key>EName</key>
		<string>Brightness</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Wallpaper</string>
		<key>CName</key>
		<string>墙纸</string>
		<key>EName</key>
		<string>Wallpaper</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Sounds</string>
		<key>CName</key>
		<string>声音</string>
		<key>EName</key>
		<string>Sounds</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Sounds&amp;path=Ringtone</string>
		<key>CName</key>
		<string>电话铃声</string>
		<key>EName</key>
		<string>Ringtone</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=CASTLE</string>
		<key>CName</key>
		<string>iCloud</string>
		<key>EName</key>
		<string>iCloud</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=CASTLE&amp;path=STORAGE_AND_BACKUP</string>
		<key>CName</key>
		<string>iCloud 存储空间</string>
		<key>EName</key>
		<string>iCloud Storage &amp; Backup</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=STORE</string>
		<key>CName</key>
		<string>iTunes Store 与 APP Store</string>
		<key>EName</key>
		<string>Store</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=ACCOUNT_SETTINGS</string>
		<key>CName</key>
		<string>邮件、通讯录、日历</string>
		<key>EName</key>
		<string>ACCOUNT_SETTINGS</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=NOTES</string>
		<key>CName</key>
		<string>备忘录</string>
		<key>EName</key>
		<string>Notes</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Phone</string>
		<key>CName</key>
		<string>电话</string>
		<key>EName</key>
		<string>Phone</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=FACETIME</string>
		<key>CName</key>
		<string>FaceTime</string>
		<key>EName</key>
		<string>FaceTime</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=SAFARI</string>
		<key>CName</key>
		<string>Safari</string>
		<key>EName</key>
		<string>Safari</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=MUSIC</string>
		<key>CName</key>
		<string>音乐</string>
		<key>EName</key>
		<string>Music</string>
	</dict>
	<dict>
		<key>Other</key>
		<string>wait</string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=MUSIC&amp;path=EQ</string>
		<key>CName</key>
		<string>音乐管理</string>
		<key>EName</key>
		<string>Music Equalizer</string>
	</dict>
	<dict>
		<key>Other</key>
		<string>wait</string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=MUSIC&amp;path=VolumeLimit</string>
		<key>CName</key>
		<string>音乐与麦克风限定音量输出</string>
		<key>EName</key>
		<string>Music Volume Limit</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=VIDEO</string>
		<key>CName</key>
		<string>视频</string>
		<key>EName</key>
		<string>VIDEO</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Photos</string>
		<key>CName</key>
		<string>照片与相机</string>
		<key>EName</key>
		<string>Photos</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=TWITTER</string>
		<key>CName</key>
		<string>推特</string>
		<key>EName</key>
		<string>Twitter</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=NIKE_PLUS_IPOD</string>
		<key>CName</key>
		<string>Nike + iPod</string>
		<key>EName</key>
		<string>Nike + iPod</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General</string>
		<key>CName</key>
		<string>通用</string>
		<key>EName</key>
		<string>General</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=About</string>
		<key>CName</key>
		<string>关于本机</string>
		<key>EName</key>
		<string>About</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=SOFTWARE_UPDATE_LINK</string>
		<key>CName</key>
		<string>软件更新</string>
		<key>EName</key>
		<string>Software Update</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=SIRI</string>
		<key>CName</key>
		<string>Siri </string>
		<key>EName</key>
		<string>Siri </string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=ACCESSIBILITY</string>
		<key>CName</key>
		<string>辅助功能</string>
		<key>EName</key>
		<string>Accessibility</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=AUTOLOCK</string>
		<key>CName</key>
		<string>自动锁定</string>
		<key>EName</key>
		<string>Auto-Lock</string>
	</dict>
	<dict>
		<key>Other</key>
		<string>wait</string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=Network</string>
		<key>CName</key>
		<string>Network</string>
		<key>EName</key>
		<string>Network</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=DATE_AND_TIME</string>
		<key>CName</key>
		<string>时间与日期</string>
		<key>EName</key>
		<string>Date &amp; Time</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=Keyboard</string>
		<key>CName</key>
		<string>键盘</string>
		<key>EName</key>
		<string>Keyboard</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=INTERNATIONAL</string>
		<key>CName</key>
		<string>语言与地区</string>
		<key>EName</key>
		<string>International</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=ManagedConfigurationList</string>
		<key>CName</key>
		<string>描述文件</string>
		<key>EName</key>
		<string>Profile</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=Reset</string>
		<key>CName</key>
		<string>还原</string>
		<key>EName</key>
		<string>Reset</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=VPN</string>
		<key>CName</key>
		<string>VPN</string>
		<key>EName</key>
		<string>VPN</string>
	</dict>
	<dict>
		<key>Other</key>
		<string>wait</string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=USAGE</string>
		<key>CName</key>
		<string>Usage</string>
		<key>EName</key>
		<string>Usage</string>
	</dict>
	<dict>
		<key>Other</key>
		<string>wait</string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=USAGE/CELLULAR_USAGE</string>
		<key>CName</key>
		<string>Usage</string>
		<key>EName</key>
		<string>Usage</string>
	</dict>
	<dict>
		<key>Other</key>
		<string>wait</string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=General&amp;path=Assistant</string>
		<key>CName</key>
		<string>Assistant</string>
		<key>EName</key>
		<string>Assistant</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Privacy</string>
		<key>CName</key>
		<string>隐私</string>
		<key>EName</key>
		<string>privacy</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=LOCATION_SERVICES</string>
		<key>CName</key>
		<string>定位服务</string>
		<key>EName</key>
		<string>privacyLocationServices</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Privacy&amp;path=CONTACTS</string>
		<key>CName</key>
		<string>隐私-通讯录</string>
		<key>EName</key>
		<string>privacyContacts</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Privacy&amp;path=CALENDARS</string>
		<key>CName</key>
		<string>隐私-日历</string>
		<key>EName</key>
		<string>privacyCalendars</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Privacy&amp;path=REMINDERS</string>
		<key>CName</key>
		<string>隐私-提醒事项</string>
		<key>EName</key>
		<string>privacyReminders</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Privacy&amp;path=PHOTOS</string>
		<key>CName</key>
		<string>隐私-照片</string>
		<key>EName</key>
		<string>privacyPhotos</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Bluetooth</string>
		<key>CName</key>
		<string>隐私-蓝牙</string>
		<key>EName</key>
		<string>privacyBluetooth</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Privacy&amp;path=MICROPHONE</string>
		<key>CName</key>
		<string>隐私-麦克风</string>
		<key>EName</key>
		<string>privacyMicrophone</string>
	</dict>
	<dict>
		<key>Other</key>
		<string></string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Privacy&amp;path=HEALTH</string>
		<key>CName</key>
		<string>隐私-健康</string>
		<key>EName</key>
		<string>privacyCamera</string>
	</dict>
	<dict>
		<key>Other</key>
		<string>wait</string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Privacy&amp;path=HomeKit</string>
		<key>CName</key>
		<string>隐私-HomeKit</string>
		<key>EName</key>
		<string>privacyHomeKit</string>
	</dict>
	<dict>
		<key>Other</key>
		<string>wait</string>
		<key>TipContent</key>
		<string>请前往系统设置相关选项</string>
		<key>SettingType</key>
		<string>prefs:root=Privacy&amp;path=Motion_Fitness</string>
		<key>CName</key>
		<string>隐私-运动与健康</string>
		<key>EName</key>
		<string>privacyMotion&amp;Fitness</string>
	</dict>
</array>
</plist>
